import os

DEBUG = True

SECRET_KEY = 'the)s^1gn42b8(s8p*w^0+vu=+g#(^tjs)*e5v5nx_*3e=2fmt'

ALLOWED_HOSTS = ['*']

BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

ENV = 'local'

S3_BUCKET = 'incendier-storage'

# Local SQLite
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    },
    'test': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'testdb.sqlite3'),
    }
}
